.container{
    position: fixed;
top: 0;
left: 0;
right: 0;
bottom: 0;
background: rgba(0,0,0,.3);
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
color: white;
}
.main{
    display: flex;
flex-direction: column;
align-items: center;
justify-content: flex-start;
    background: rgba(0, 0, 0, 0.664);
    width: 40rem;
    height: 30rem;
}
.answer{
    font-size: 3rem;
    margin-top: 2rem;
}
.icon{
    margin-top: 2rem;
    color: greenyellow;
}
.description{
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.next{
    background: none;
    color: ghostwhite;
    border: 1px solid white;
    padding: 1rem 2rem 1rem 2rem;
    transition: all .2s;
}
.next:hover{
    transform: scale(1.05);
    -webkit-font-smoothing: antialiased;
}
