.container{
    height: 60rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    
}
.header{
    font-size: 2rem;
    font-weight: 100;
    letter-spacing: 5px;
    margin-bottom: 3rem;
    color: ghostwhite;
}
.title{
    font-size: 2rem;
    font-weight: 100;
    letter-spacing: 5px;
    margin-bottom: 3rem;
    color: ghostwhite;
}

.quizImg{
    height: 20rem;
    border-radius: 3px;
    margin-bottom: 2rem;
    transition: all .2s;
}
.quizImg:hover{
    transform: scale(1.05);
    cursor: pointer;
}
.select{
    width: 15rem;
    margin-bottom: 2rem;
}
.submit{
    background: none;
    color: ghostwhite;
    border: 1px solid white;
    padding: 1rem 2rem 1rem 2rem;
    transition: all .2s;
}
.submit:hover{
    transform: scale(1.1);
    -webkit-font-smoothing: antialiased;
}
.amount{
    color: white;
    font-size: 1.5rem;
    font-weight: 200;
    margin-bottom: 2rem;
}
.lightcontent{
    position: relative;
    width: 100vw;
}
.close{
    color: white;
    position: fixed;
top: 1rem;
    right: 5%;
}